@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    background-color:rgba(130, 55, 55, 0.75);
    color:white;
    /* font-family:'Merriweather Sans', sans-serif; */


}
label{
    display:block;
}
.navbar{
    background-color:rgb(12, 12, 11);
    opacity:4.5;
}

.navbar ul {
    /* margin:0; */
padding:1.4em;
    list-style-type:none;
    display:flex;
justify-content:space-around;
align-items:center;

}
.navbar ul li{
    /* flex:10%; */
    margin:10px;
}

.navbar a{
    font-size:1.5em;
    text-decoration:none;
    color:white;
    
}
.navbar a:hover{
    background-color:rgb(218, 154, 225);
    padding:1em;
    /* border-radius:20px solid red; */
}
ul input{
    padding:10px;
    border-radius:2em;
}

h1{
    text-align:center;
    /* background-color:bisque; */
    font-size:3em;
    margin:1.5rem;
    /* padding:0.6em; */
    font-family:cursive;
/* color:white; */

}
.form{

    border:2px solid white;
    /* font-size:2em; */
    /* display: flex;
    justify-content:center; */
    /* align-items:center; */
    /* height:100vh; */
    /* width:50%; */

}
input[type=text]{
    padding:1em;
    border-radius:15px;
    color:rgb(184, 44, 44);
    margin:1em;

}
